html {
  font-family: Nunito, sans-serif;
}

body {
  margin:0;
  padding:0;
  outline: 0;
  box-sizing: border-box;

  color:#fff;
  background-color: #dddbdb;
}

.boards {
  width: 60%;
  margin: 32px;
  display: flex;
  justify-content: space-between;
}

.board {
  background-color: #000000d3;
  
  border:0;
  border-radius: 4px;
}

.board h3 {
  font-size: 26px;
  padding: 16px;
}

.dropzone {
  min-width: 332px;
  min-height: 282px;
  padding: 16px;
  transition: 0.2s;

}

.card {
  padding: 16px;
  margin: 25px 0;

  border-radius: 8px;
  font-size: 18px;

  background-color: #45474A;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.555);
}

.status {
  width:30px;
  height: 10px;

  margin-bottom: 10px;

  border-radius: 5px;
}

.status.red {
  background-color: rgb(223, 77, 77);

}

.status.blue {
  background-color: rgb(77, 140, 223);

}

.status.green {
  background-color: rgb(155, 223, 77);

}

.highlight {
  background-color: rgba(69, 71, 74, 0.096);
}

.is-dragging {
  opacity: 0.1;
}

.over {
  background-color: rgba(91, 94, 99, 0.188);
}